<!DOCTYPE html>
<html lang="ru-en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="header_style.css">
    <link rel="stylesheet" href="recs_style.css">
    <link rel="stylesheet" href="login_style.css">
    <link rel="stylesheet" href="sorry_style.css">
    <link rel="stylesheet" href="footer_style.css">
    <title>{{title}} - Technostrelka2025</title>
    <!-- <link rel="stylesheet" type="text/css" href=""> // style -->
</head>
<body>
<header class="header">
    <a href="/" class="home-btn" id="btn">Рекомендаци</a>
    {% block auth_buttons %}{% endblock %}
    <form class="search-form" action="/find" method="post">
        <input type="text" class="search-input" placeholder="Найти фильм..." name="query">
    </form>

</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
    <div style="float: right;">
        <h5>Technostrelka2025</h5>
        <h5>2025</h5>
    </div>
</footer>
</body>
</html>