{% extends "base.html" %}

{% block auth_buttons %}
<div class="auth-buttons"> <!-- Навигация -->
    <a class="signup-btn" id="btn">{{ username }}</a>
    <a href="/exit" class="login-btn" id="btn">Выйти</a>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="cards-container">
        <!-- Контент -->
        {% for ctx_element in ctx %}
        <div class="film-card">
            <div class="card-content">
                <img src="https://avatars.mds.yandex.net/i?id=a6dcaf4716213570982e4fc310ddedd4_l-4440117-images-thumbs&n=13" class="card-poster" alt="Постер фильма">
                <p class="card-title">{{ctx_element['title']}}</p>
                <p class="card-description">{{ctx_element['text']}}</p>
                <p class="genre">{{ctx_element['genre']}}</p>
                <a href="https://yandex.ru/search/?text={{ctx_element['title']}}" class="btn" style="color: black;">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}